<p appHighlight>efr works!</p>
<p class="hoverElement" appHoverHighlight>Hover on me</p>

<button appButtonDisabled>Click</button>

<ul>
  <li *ngFor="let item of items">{{ item }}</li>
</ul>

<div [ngSwitch]="condition">
  <p *ngSwitchCase="'A'">This is Message A.</p>
  <p *ngSwitchCase="'B'">This is Message B.</p>
  <p *ngSwitchDefault>This is a default message.</p>
</div>

<button (click)="onClick()">Click Me</button>
<input (keyup)="onKeyUp($event)">

<button (click)="onClickFSAD()">FSAD</button>
<p *ngIf="display">Full Stack Application Development</p>

<input (keyup)="onKeyUpFSAD($event)" type="text">
<p>{{someVariable}}</p>
