<!-- <app-data-bind-test></app-data-bind-test>
<app-demo-si></app-demo-si> 
<app-efr></app-efr> -->
<!-- <app-template-driven-form-email-validation></app-template-driven-form-email-validation> -->
<!-- <app-registration-form></app-registration-form> -->
<app-registration-form-reactive></app-registration-form-reactive>