<p>template-driven-form-email-validation works!</p>

<form #userRegistrationForm="ngForm" (ngSubmit)="submit(userRegistrationForm.value)">



	<div class="form-group">
		<label>Email:</label>
		<input type="email" name="email" [class.is-invalid] = "emailRef.invalid && emailRef.touched"  class="form-control" [(ngModel)]="user.email" [email]="emailValidation" #emailRef="ngModel" />
		<div *ngIf="(emailRef.invalid && emailRef.touched) || emailRef.dirty">
			<small class="text-danger" *ngIf="emailRef.errors?.['required']">Email address is required</small>
			<small class="text-danger" *ngIf="emailRef.errors?.['email']">Email address is invalid</small>
		</div>
	</div>
        	<div class="form-group">
		<label>Password:</label>
		<input type="password" name="password"  [class.is-invalid] = "nameRef.invalid && nameRef.touched" class="form-control" [(ngModel)]="user.name" #nameRef="ngModel" required/>

	</div>
        <div>
                <div class="form-group">
                <input type="checkbox" name="remember" id="remember" style="margin-right: 10px;">
                <label>Remember me</label>
                </div>
        </div>
	<div class="form-group">
		<button class="btn btn-primary" type="submit">Save</button>
	</div>

</form>
