<p>data-bind-test works!</p>
<div class="header">
        <div>{{title}}</div>
        <div>{{message}}</div>
        <button (click)="onClick()">Click me for message</button>
        <div *ngIf="display">
                <p>Display this content</p>
        </div>
</div>
